@page
@using StoreManagement.Entities;
@using StoreManagement.Logic;
@using System.Web;
@model StoreManagement.Pages.Delete_CategoryModel

@{
    string userGlobal = Request.Query["User"];
    ViewData["User"] = userGlobal;

    bool validUser = User_Logic.FindUserByUserName(userGlobal);
}

@if (!validUser)
{
    string errorMessage = "noUser";
    Response.Redirect("/Error?error=" + errorMessage);
}

@{
    Category deleteCategory;
    int categoryId = int.Parse(Request.Query["categoryId"]);
    deleteCategory = Category_Logic.FindCategoryById(categoryId.ToString());
    string confirmDelete;
    bool deletedCategory = false;
    bool validIdResult = true;
    string messageValid = "";


    if (string.IsNullOrEmpty(deleteCategory.Name))
    {
        messageValid = $"Loại hàng không tồn tại";
        validIdResult = false;
    }
    else
    {
        if (Request.Method == "POST")
        {
            confirmDelete = Request.Form["delete"];
            if (confirmDelete == "Đúng")
            {
                deletedCategory = Category_Logic.DeleteCategory(categoryId);
            }
        }
    }

}

@{
    ViewData["TitleParent"] = "Loại hàng";
    ViewData["BreadcrumbsParent"] = "List_Category?User=" + userGlobal;
    ViewData["TitleCurrent"] = "Xóa loại hàng";
    ViewData["BreadcrumbsCurrent"] = "Delete_Category?categoryId=" + categoryId.ToString() + "&User=" + userGlobal;
}

<div class="content">
    <div class="top">
        <div class="title">XÓA LOẠI HÀNG</div>
    </div>

    @if (!validIdResult)
    {
        <div class="valid_notification">
            <div class="valid_notification_note">
                <i class='bx bx-info-circle'></i><p class="valid">@messageValid</p>
            </div>
        </div>
    }
    else
    {
        @if (!deletedCategory)
        {
            <div class="delete_notification">
                <div class="delete_notification_note">
                    <i class='bx bx-info-circle'></i><p>Xóa Loại Hàng sẽ xóa hết những Sản Phẩm thuộc Loại Hàng này.Bạn chắn chắn muốn xóa Loại Hàng này?</p>
                </div>
                <div class="confirm_delete">
                    <form method="POST">
                        <input type="submit" id="delete" name="delete" value="Đúng"><br>
                    </form>
                    <a href="/List_Category?User=@userGlobal">Không</a>
                </div>
            </div>
            <div class="category">
                <form>
                    <label for="categoryId">Mã loại hàng: </label><br>
                    <input type="number" id="categoryId" name="categoryId" value="@deleteCategory.Id" readonly><br>
                    <label for="categoryName">Tên loại hàng: </label><br>
                    <input type="text" id="categoryName" name="categoryName" value="@deleteCategory.Name" readonly><br>
                    <label for="categoryQuantity">Số lượng sản phẩm thuộc loại hàng: </label><br>
                    <input type="number" id="categoryQuantity" name="categoryQuantity" value="@deleteCategory.Quantity" readonly><br>
                </form>
            </div>
        }
        else
        {
            <div class="delete_success_notification">
                <div class="delete_success_notification_note">
                    <i class='bx bx-info-circle'></i><p>Đã xóa loại hàng thành công</p>
                </div>
                <a href="/List_Category?User=@userGlobal">OK</a>
            </div>
        }
    }

</div>
<style>

    .content {
        font-family: Arial, sans-serif;
        width: 70vw;
        height: 90vh;
    }

    .top {
        width: 70vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

        .top .title {
            color: #ffffff;
            font-size: 14px;
            font-weight: bold;
        }

    .category {
        display: flex;
        justify-content: center;
        background-color: #1F2937;
        margin: 10px;
        border-radius: 20px;
        padding-top: 15px;
        font-size: 12px;
        width: 60vw;
        height: 65vh;
        overflow: auto;
    }

        .category form {
            width: 50vw;
            height: 62vh;
            overflow: auto;
        }

        .category label {
            margin-top: 10px;
            font-weight: bold;
            width: 45vw;
        }

        .category input {
            color: #ffffff;
            font-family: Arial, sans-serif;
            padding-left: 10px;
            width: 45vw;
            height: 30px;
            background-color: #9CA3AF50;
            border: 1px solid #374151;
            border-radius: 5px;
            margin: 5px 5px 10px 0px;
            cursor: not-allowed;
        }

    .submitBtn {
        background-color: #D97706 !important;
        padding: 10px !important;
        border-radius: 15px !important;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
        cursor: pointer;
        width: 50% !important;
        height: auto !important;
        font-weight: bold;
        margin-left: auto !important;
        margin-right: auto !important;
        margin-bottom: 0px !important
    }

        .submitBtn:hover {
            background-color: #D97706 !important;
        }

    .delete_notification {
        background: #1F2937;
        padding: 5px;
        border-radius: 5px;
        border: 2px solid #D97706;
        font-size: 14px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5px;
        width: 60vw;
    }

    .delete_notification_note {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

        .delete_notification_note .bx-info-circle {
            color: #D97706;
            font-size: 20px;
            padding-right: 5px;
        }

    .confirm_delete {
        display: flex;
        gap: 20px;
    }

        .confirm_delete #delete {
            width: 75px;
            height: 25px;
            border-radius: 5px;
            background-color: #D97706;
            color: #000000;
            font-weight: bold;
            cursor: pointer;
            border: none;
            font-size: 14px;
        }

    .delete_notification a {
        text-decoration: none;
        padding: 5px 15px;
        border-radius: 5px;
        background-color: #D97706;
        color: #000000;
        font-weight: bold;
    }

    .delete_success_notification {
        background: #1F2937;
        padding: 10px;
        border-radius: 5px;
        border: 2px solid #00ff00;
        font-size: 14px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 60vw;
        margin-top: 5px;
    }


    .delete_success_notification_note {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

        .delete_success_notification_note .bx-info-circle {
            color: #00ff00;
            font-size: 20px;
            padding-right: 5px;
        }

    .delete_success_notification a {
        text-decoration: none;
        padding: 5px 15px;
        border-radius: 5px;
        background-color: #00ff00;
        color: #000000;
        font-weight: bold;
    }


    .valid_notification {
        background: #1F2937;
        position: absolute;
        top: 12vh;
        left: 50%;
        padding: 10px;
        border-radius: 5px;
        border: 2px solid #D97706;
        font-size: 14px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .valid_notification_note {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

        .valid_notification_note .bx-info-circle {
            color: #D97706;
            font-size: 20px;
            padding-right: 5px;
        }

    .valid_notification a {
        text-decoration: none;
        padding: 5px 15px;
        border-radius: 5px;
        background-color: #D97706;
        color: #000000;
        font-weight: bold;
    }

    .valid {
        font-style: italic;
        color: #D97706;
    }

    /*Responsive*/
    @@media (min-width:610px) and (max-width: 1140px) {
        .valid_notification {
            left: 30%;
        }
    }

    @@media only screen and (max-width: 610px) {
        .valid_notification {
            left: 30%;
        }
    }

    @@media only screen and (max-height: 560px) {
        .valid_notification {
            left: 30%;
        }

        .category {
            height: 40vh;
        }
    }

</style>

