@page
@using StoreManagement.Entities;
@using StoreManagement.Logic;
@using System.Web;
@model ErrorModel
@{
    ViewData["TitleParent"] = "Thông báo";
    ViewData["BreadcrumbsParent"] = "Error";

}

@{
    string userGlobal = Request.Query["User"];
    bool validUser;

    if (!string.IsNullOrEmpty(userGlobal))
    {
        validUser = User_Logic.FindUserByUserName(userGlobal);
        if (!validUser)
        {
            string errorMessage = "noUser";
            Response.Redirect("/Error?error=" + errorMessage);
        }
        else
        {
            Response.Redirect("/List_Product?User=" + userGlobal);
        }
    }
}

<div class="user">
    <h2 class="text-danger">
        Vui lòng
        <a href="/Login_User?User=@userGlobal">ĐĂNG NHẬP</a>
        hoặc
        <a href="/Signin_User?User=@userGlobal">ĐĂNG KÝ</a>
        để tiếp tục!
    </h2>
</div>


<style>
    .user a {
        background-color: #D97706 !important;
        padding: 5px !important;
        border-radius: 5px !important;
        margin-right: 10px;
        cursor: pointer;
        width: 85px !important;
        height: 35px !important;
        font-weight: bold;
        margin-left: auto !important;
        margin-right: auto !important;
        margin-bottom: 0px !important;
        text-decoration: none;
        color: #ffffff;
    }

        .user a:hover {
            background-color: #F59E0B !important;
        }

    /*Responsive*/

    @@media (min-width:610px) and (max-width: 1140px) {
        .user {
            font-size: 12px;
        }
    }

    @@media only screen and (max-width: 610px) {
        .user {
            font-size: 10px;
        }
    }

    @@media only screen and (max-height: 560px) {
        .user {
            font-size: 12px;
        }
    }
</style>

