@page
@using StoreManagement.Entities;
@using StoreManagement.Logic;
@using System.Web;
@model StoreManagement.Pages.Login_UserModel

@{
    string userGlobal = Request.Query["User"];
    bool validUser;

    if(!string.IsNullOrEmpty(userGlobal))
    {
        validUser = User_Logic.FindUserByUserName(userGlobal);
        if (!validUser)
        {
            string errorMessage = "noUser";
            Response.Redirect("/Error?error=" + errorMessage);
        } else
        {
            Response.Redirect("/List_Product?User=" + userGlobal);
        }
    }
}

@{
    User newUser;
    bool LoginUserResult = false;
    bool validUserResult = true;
    string messageValidUser = "";
    string userName = "";
    string password = "";
    string[] userInfo = new string[] { userName, password };
    string[] userLabel = new string[] { "Tên đăng nhập", "Mật khẩu" };

    if (Request.Method == "POST")
    {
        userName = Request.Form["userName"];
        password = Request.Form["password"];
        userInfo = new string[] { userName, password };

        if (validUserResult)
        {

            if (User_Logic.IsNotContainBlankSpaceUserName(userName))
            {
                messageValidUser = "Tên đăng nhập không được chứa khoảng trắng!";
                validUserResult = false;
            }

            if (User_Logic.IsNotContainBlankSpacePassword(password))
            {
                messageValidUser = "Mật khẩu không được chứa khoảng trắng!";
                validUserResult = false;
            }

        }

        if (validUserResult)
        {
            newUser.UserName = userName.Trim();
            newUser.Password = password.Trim();
            LoginUserResult = User_Logic.FindUser(newUser);
            if (!LoginUserResult)
            {
                messageValidUser = $"Tên đăng nhập hoặc mật khẩu không đúng!";
                validUserResult = false;
            }else
            {
                ViewData["User"] = newUser.UserName;
                userGlobal = newUser.UserName;
            }
        } 
    }
}

@{
    ViewData["TitleParent"] = "Người dùng";
    ViewData["BreadcrumbsParent"] = "Signin_User?User=" + userGlobal;
    ViewData["TitleCurrent"] = "Đăng nhập";
    ViewData["BreadcrumbsCurrent"] = "Login_User?User=" + userGlobal;
}

<div class="content">
    @if (LoginUserResult)
    {
        <div class="new_user_notification">
            <div class="new_user_notification_note">
                <i class='bx bx-info-circle'></i><p>Đã đăng nhập thành công!</p>
            </div>
            <a href="/List_Product?User=@userGlobal">OK</a>
        </div>
    } 
    else
    {
        @if (!validUserResult)
        {
            <div class="valid_product_notification">
                <div class="valid_product_notification_note">
                    <i class='bx bx-info-circle'></i><p class="validProduct">@messageValidUser</p>
                </div>
            </div>
        }

        <div class="user">
            <div class="name_store">
                PHẦN MỀM QUẢN LÝ CỬA HÀNG
            </div>
            <div class="login">
                ĐĂNG NHẬP
            </div>
            <form method="POST">
                <label for="userName">Tên đăng nhập: </label><br>
                <input type="text" id="userName" name="userName" value="@userName"><br>
                <label for="password">Mật khẩu: </label><br>
                <input type="password" id="password" name="password" value="@password"><br>
                <input class="submitBtn" type="submit" value="ĐĂNG NHẬP">
            </form>
            <div> Chưa có tài khoản?</div>
            <a href="/Signin_User?User=@userGlobal">ĐĂNG KÝ</a>
        </div>
    }
</div>
<style>

    .content {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .user {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #1F293750;
        margin: 10px;
        border-radius: 20px;
        font-size: 14px;
        padding: 40px;
        gap: 15px;
        border: 1px solid #374151;
        box-shadow: 5px 5px 10px #000000;
    }

    .name_store {
        font-size: 12px;
        font-weight: bold;
    }

    .login {
        font-size: 18px;
        font-weight: bold;
        color: #D97706;
    }

    .user label {
        margin-top: 20px;
        width: 200px;
    }

    .user input {
        color: #ffffff;
        font-family: Arial, sans-serif;
        padding-left: 10px;
        width: 200px;
        height: 30px;
        background-color: #9CA3AF50;
        border: 1px solid #374151;
        border-radius: 5px;
        margin: 5px 5px 10px 0px;
    }

    .submitBtn {
        background-color: #D97706 !important;
        padding: 5px !important;
        border-radius: 5px !important;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
        cursor: pointer;
        width: 100px !important;
        height: 50px !important;
        font-weight: bold;
        margin-left: auto !important;
        margin-right: auto !important;
        margin-bottom: 0px !important
    }

        .submitBtn:hover {
            background-color: #F59E0B !important;
        }

    .user a{
        background-color: #D97706 !important;
        padding: 5px !important;
        border-radius: 5px !important;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
        cursor: pointer;
        width: 85px !important;
        height: 35px !important;
        font-weight: bold;
        margin-left: auto !important;
        margin-right: auto !important;
        margin-bottom: 0px !important;
        text-decoration: none;
        color: #ffffff;
    }

        .user a:hover {
            background-color: #F59E0B !important;
        }

    .new_user_notification {
        background: #1F2937;
        padding: 10px;
        border-radius: 5px;
        border: 2px solid #00ff00;
        font-size: 14px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 60vw;
        margin-top: 5px;
    }

    .new_user_notification_note {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

        .new_user_notification_note .bx-info-circle {
            color: #00ff00;
            font-size: 20px;
            padding-right: 5px;
        }

    .new_user_notification a {
        text-decoration: none;
        padding: 5px 15px;
        border-radius: 5px;
        background-color: #00ff00;
        color: #000000;
        font-weight: bold;
    }


    .valid_product_notification {
        background: #1F2937;
        position: absolute;
        top: 15px;
        left: 50%;
        padding: 10px;
        border-radius: 5px;
        border: 2px solid #D97706;
        font-size: 14px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .valid_product_notification_note {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

        .valid_product_notification_note .bx-info-circle {
            color: #D97706;
            font-size: 20px;
            padding-right: 5px;
        }

    .valid_product_notification a {
        text-decoration: none;
        padding: 5px 15px;
        border-radius: 5px;
        background-color: #D97706;
        color: #000000;
        font-weight: bold;
    }

    /*Responsive*/
    @@media only screen and (min-width: 1140px) {
        .name_store {
            font-size: 18px;
        }

        .signin {
            font-size: 24px;
        }

        .user label {
            font-size: 16px;
        }

        .user form p {
            font-size: 12px;
        }

        .user input {
            font-size: 16px;
        }

        .submitBtn {
            font-size: 14px !important;
            padding: 12px !important;
        }
    }

    @@media (min-width:610px) and (max-width: 1140px) {
        .user {
            padding: 30px;
        }

            .user a, .submitBtn {
                height: auto !important;
                margin-top: 0px !important;
            }
    }

    @@media only screen and (max-width: 610px) {
        .user {
            padding: 10px;
        }

            .user a, .submitBtn {
                height: auto !important;
                margin-top: 0px!important;
            }
    }

    @@media only screen and (max-height: 560px) {
        .user {
            padding: 20px;
        }

            .user a, .submitBtn {
                height: auto !important;
                margin-top: 0px !important;
            }
    }
</style>


